@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.main-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("./images/Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
